
<div class="jumbotron">
  <h1 class="display-4">
    <%= @project.name %>
  </h1>
  <p class="lead">
    <%= @project.description %> 
  </p>
  <br/>

  <%= link_to 'Edit', edit_project_path(@project), class:"btn btn-secondary" %>

<%= link_to 'Delete', @project, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: "btn btn-danger" %>
   
<%= link_to 'Back', projects_path, class:"btn btn-dark" %>

</div>